<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Checkout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="block-1">
    <h3 class="title">Your order #{{ order.id }}</h3>

    <div class="wrapper">
      <div class="list">
        <div class="item" *ngFor="let item of order.items">
          <div class="image">
            <img [src]="item.image" alt="Image">
          </div>
          <div class="info">
            <div class="name">{{ item.name }}</div>
            <div class="quantity">Quantity {{ item.quantity }}</div>
            <div class="dimension">
              <div class="height">Height {{ item.height }} CM</div>
              <div class="width">Width {{ item.width }} CM</div>
            </div>
            <div class="price">KWD {{ item.price }}</div>
          </div>
        </div>
      </div>

      <div class="delivery-details">
        <div class="delivery">
          <h3 class="title">Delivery</h3>

          <div class="date-time">
            {{ order.delivery.date | date:['dd MMM yyyy'] }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ order.delivery.timeFrom | date:['hh:mm aa'] }} - {{ order.delivery.timeTo  | date:['hh:mm aa'] }}
          </div>
        </div>
        <div class="card-message">
          <h3 class="title">Card Message</h3>

          <div class="message">{{ order.cardMessage }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-2">
    <h3 class="title">Shipping</h3>

    <div class="wrapper">
      <div class="delivery-details">
        <h3 class="title">Delivery details</h3>

        <div class="address">
          {{ order.shipping.address }}
        </div>
      </div>
      <div class="recipient-details">
        <h3 class="title">Recipient details</h3>

        <div class="name">{{ order.shipping.name }}</div>
        <div class="mobile">{{ order.shipping.mobile }}</div>
      </div>
    </div>
  </div>

  <div class="block-3">
    <div class="payment">
      <h3 class="title">Payment</h3>
      <p class="sub-title">Select payment option</p>

      <div class="wrapper">
        <div class="list">
          <div class="item" [ngClass]="{'selected': item.isChecked}" *ngFor="let item of paymentMethods"
            (click)="selectPaymentMethod(item.id)">
            <div class="icon">
              <img [src]="item.icon" alt="">
            </div>
            <div class="name">{{ item.name }}</div>
            <div class="check">
              <ion-icon name="checkmark" *ngIf="item.isChecked"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="note">
      <h3 class="title">Note for floward team</h3>

      <div class="wrapper">
        <ion-textarea placeholder="Type your note here" [(ngModel)]="order.note"></ion-textarea>
      </div>
    </div>

    <div class="accounts">
      <div class="col-1">
        <div class="title">Subtotal</div>
        <div class="title">Delivery Charge</div>
        <div class="title">Total</div>
      </div>
      <div class="col-2">
        <div class="currency">KWD</div>
        <div class="currency">KWD</div>
        <div class="currency">KWD</div>
      </div>
      <div class="col-3">
        <div class="amount">34.000</div>
        <div class="amount">0.000</div>
        <div class="amount">34.000</div>
      </div>
    </div>

    <div class="place-order">
      <ion-button shape="round" expand="block" size="large" (click)="placeOrder()">Place Order</ion-button>
    </div>

    <br>
  </div>
</ion-content>